/**************COMPONENTS**************/

/****Header*****/




/******Question*******/
.Question {
  padding: 2em;
  width: 50%;
  display: inline-block;
}

.Question h2 {
  text-align: left;
}

.Question h3 {
  text-align: left;
  padding: 0.5em 0;
}

/******Option********/
.OptionsHolder {
  text-align: left;
  margin: 5px ;
}

.Option {
  width: 50%;
}

.Option:focus {
  background-color: black;
  color: white;
}

/*****NavButton****/
.NavButton {
  display: inline-block;
  margin: 2.5px;
}