.UserDashboard {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/************************COMPONENTS************************/
.SidebarMenu {
    background-color:grey;
    width: 10em;
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.SidebarMenu-Links {
    text-decoration: none;
    color: white;
    border: 1px solid darkgrey;
    height: 2.5em;
    margin: 0;
}

.DashboardView {
    margin-left: 10em;
}

/************************VIEWS************************/
.Home {
    padding: 10px;
    text-align: left;
}

/*************VIEW-SPECIFIC COMPONENTS*****************/

/*****HOME*****/
.SurveysList {
    margin: 10px;
    display: flex;
    flex-direction: row;
}

.SurveyTile {
    margin: 0 1em;
    padding: 1em;
    background-color: rgb(233, 233, 41);
    width: 17.5em;
    height: 10em;
    text-align: left;
    position: relative;
}

.SurveyTile:hover {
    background-color: rgb(211, 211, 39);
}

.OpenSurveyButton {
    position: absolute;
    right: 1em;
    bottom: 1em;
}
